<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="home1"></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="lbl">Today</p>
          <ion-list style="overflow-y: scroll !important; height: 100%;">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/brocolli.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Buy 1 Kg Get 200 Gm Free<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </span></h2>
                <p id="rate">Buy 1 Get 1 Free For small Size</p>
                <p id="rate">Until Aug 23,1980</p>
                <p>Few miniutes ago</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/onion.jpeg">
              </ion-thumbnail>
              <ion-label>
                <h2>Get 20% Discount<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </span></h2>
                <p id="rate">Buy 1 Get 1 Free For small Size</p>
                <p id="rate">Until Aug 23,1980</p>
                <p>30 miniutes ago</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/anjir.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Get 20% Extra<span style="float: right">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </span></h2>
                <p id="rate">Buy 1 Get 1 Free For small Size</p>
                <p id="rate">Until Aug 23,1980</p>
                <p>1 Hour ago</p>
              </ion-label>
            </ion-item>

           
          </ion-list>
        </ion-col>
        <ion-col>
          <p class="lbl">Yesterday</p>
          <ion-list style="overflow-y: scroll !important; height: 100%;">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/brocolli.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Buy 1 Kg Get 200 Gm Free<span style="float: right">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </span></h2>
                <p id="rate">Buy 1 Get 1 Free For small Size</p>
                <p id="rate">Until Aug 23,1980</p>
                <p>Few miniutes ago</p>
              </ion-label>
            </ion-item>
        
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/onion.jpeg">
              </ion-thumbnail>
              <ion-label>
                <h2>Get 20% Discount<span style="float: right">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </span></h2>
                <p id="rate">Buy 1 Get 1 Free For small Size</p>
                <p id="rate">Until Aug 23,1980</p>
                <p>30 miniutes ago</p>
              </ion-label>
            </ion-item>
        
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/anjir.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Get 20% Extra<span style="float: right">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </span></h2>
                <p id="rate">Buy 1 Get 1 Free For small Size</p>
                <p id="rate">Until Aug 23,1980</p>
                <p>1 Hour ago</p>
              </ion-label>
            </ion-item>
        
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>