<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="home1"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/grapes.JPG" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="main_container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Grapes</ion-label>
          <p class="grapesPara">Grapes will provide natural nutrients. The Chemical
            in organic grapes which can be healthier hair and
            skin. It can be improve Your heart health. Protect your
            body from Cancer.</p>
          <ion-label>Nutrition</ion-label>
          <ion-list>
            <ion-item>
              <ion-label>Pokémon Yellow</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Mega Man X</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>The Legend of Zelda</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Pac-Man</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Super Mario World</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer  class="ion-no-border">
  <ion-row>
    <ion-col size="7">
      <ion-text>
        <h4 class="headingClass" >Rs 160 Per/Kg</h4>
      </ion-text>
    </ion-col>
  
    <ion-col size="5">
      <buttoon class="btn">Buy Now</buttoon>
    </ion-col>
  </ion-row>
</ion-footer>