.toolbar{
    height:84px;
    --background:#69A03A;
    color:#fff;
    font-size: 20px;
    line-height:84px;
}

ion-content{
    img{
        border-radius:15px;
    }
    .main_container{
        ion-label{
            color:gray;
            font-weight: 600;
        }
        .grapesPara{
            text-align: justify;
        }
    }
}
aa