<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="home1"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list style="overflow-y: scroll !important; height: 100%;">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/brocolli.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Broccoli<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/onion.jpeg">
              </ion-thumbnail>
              <ion-label>
                <h2>Onion<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/anjir.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Anjeer<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/tomato.jpg">
              </ion-thumbnail>
              <ion-label>
                <h2>Tomato<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/bringle.png">
              </ion-thumbnail>
              <ion-label>
                <h2>Bringle<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/potato.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Poato<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/apple.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Apple<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/orange.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Orange<span style="float: right">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </span></h2>
                <h3>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </h3>
                <p id="rate">Rate This Product</p>
                <p>Delivered On 23 Aug 1980</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
