ion-toolbar{
    --background: linear-gradient(to right, #2F0743, #41295a );
}

.main_content_div{
    width: 100%;
    padding:20px;

    ion-label{
        display: block;
        margin-top:20px;
        color:gray;
    }

    .square_div{
        background:whitesmoke;
        width:100%;
        height:100px;
        position: relative;
    }

    .yellow{
        background: linear-gradient(to right, #2F0743, #41295a )
    }

    .gray_img{
        width:50px;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }

    ion-input,ion-datetime{
        border:1px solid  lightgray;
        border-radius: 5px;
        --padding-start:8px;
        margin-top:15px;
    }

    .left_col{
        padding-left:0px;
    }

    .right_col{
        padding-right:0px;
    }

    ion-button{
        --background:linear-gradient( to right, #2F0743, #41295a);
        --border-radius:5px;
        color:white;
        margin-top:30px;
    }
}

ion-footer{
    ion-row{
        background:linear-gradient(to right, #2F0743, #41295a);
        color:white;
        ion-col{
            &:last-child{
                text-align: end;
            }
        }
    }
}