<ion-header>
  <div class="grad_back">
    <div class="btn_flex">
      <div>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home1" color="light"></ion-back-button>
        </ion-buttons>
      </div>

      <div>
        <ion-button fill="clear" size="small">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="small">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <ion-label class="subject">Select Chapter</ion-label>
  </div>

  <ion-segment value="Chapters" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Chapters">
      <ion-label>Chapters</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Tests">
      <ion-label>Tests</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <span *ngIf="segId == 'Chapters'">
      <div class="card_div" *ngFor="let item of chapters">
        <img src="../../../../assets/download.png" class="download" />

        <div class="round_image bg_image" [style.backgroundImage]="'url( ' + item.img+')'">
        </div>

        <div class="content_div">
          <ion-label class="title_lbl">{{item.name}}</ion-label>
          <ion-label class="small_lbl">{{item.name}}</ion-label>
          <ion-progress-bar color="warning" value="{{item.per/100}}"></ion-progress-bar>
          <ion-label class="small_lbl">Download Notes Of This Chapter</ion-label>
          <ion-label class="abs_lbl">{{item.per}}</ion-label>
        </div>
      </div>
    </span>
  </div>
</ion-content>