<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button mode="md" defaultHref="/home1" color="light"> </ion-menu-button>
      <ion-title>Material Store </ion-title>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button (click)="showSearchBar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="searchbar">
    <ion-searchbar showCancelButton="focus" cancelText="Cancel"></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="friends">
        <ion-label>Category</ion-label>
      </ion-segment-button>
      <ion-segment-button value="category">
        <ion-label>Category</ion-label>
      </ion-segment-button>
      <ion-segment-button value="product">
        <ion-label>Category</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="featureBox">
    <p class="featureId">Featured</p>

    <div class="featureImg">
      <img src='../../../../assets/project/325230/002.jpg' />
      <p id="product">Product<span>$100</span></p>
      <h6>Lorem ipsum dolor sit amet, shopping cart adipiscing elit.</h6>

      <div class="star">
        <ion-grid>
          <ion-row>
            <ion-col size='7'>
              <div class='starrating'>
                <ngx-stars [color]="'#3e9186'" [size]="2"></ngx-stars>
              </div>
            </ion-col>

            <ion-col size='5'>
              <div class="menu">
                <ion-buttons slot="secondary">
                  <ion-button>
                    <ion-icon name="cart-outline"></ion-icon>
                  </ion-button>

                  <ion-button (click)="changeicon()">
                    <ion-icon color="danger" [name]="showIcon ? 'heart-outline' : 'heart'"></ion-icon>
                  </ion-button>

                  <ion-button>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <p class="featureId">Categories <span> View All</span></p>


    <div class="category">
      <div class="box">
        <img src='../../../../assets/project/100-100/002.jpg' />
        <p>Product</p>
        <h6>$100
          <span>
            <ion-icon name='ellipsis-vertical-outline'></ion-icon>
          </span>
        </h6>
      </div>


      <div class="box">
        <img src='../../../../assets/project/100-100/004.jpg' />
        <p>Product</p>
        <h6>$100
          <span>
            <ion-icon name='ellipsis-vertical-outline'></ion-icon>
          </span>
        </h6>
      </div>

      <div class="box">
        <img src='../../../../assets/project/100-100/005.jpg' />
        <p>Product</p>
        <h6>$100
          <span>
            <ion-icon name='ellipsis-vertical-outline'></ion-icon>
          </span>
        </h6>
      </div>

      <div class="box">
        <img src='../../../../assets/project/100-100/006.jpg' />
        <p>Product</p>
        <h6>$100
          <span>
            <ion-icon name='ellipsis-vertical-outline'></ion-icon>
          </span>
        </h6>
      </div>

      <div class="box">
        <img src='../../../../assets/project/100-100/007.jpg' />
        <p>Product</p>
        <h6>$100
          <span>
            <ion-icon name='ellipsis-vertical-outline'></ion-icon>
          </span>
        </h6>
      </div>

      <div class="box">
        <img src='../../../../assets/project/100-100/008.jpg' />
        <p>Product</p>
        <h6>$100
          <span>
            <ion-icon name='ellipsis-vertical-outline'></ion-icon>
          </span>
        </h6>
      </div>
    </div>
  </div>
</ion-content>