<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" >
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="home1"></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>
    <ion-buttons slot="end" class="menu_btn">
      <ion-icon id="userIcon" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar >
    <ion-list>
    
      <ion-item>
        <ion-label>Sort By</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Fruits</ion-select-option>
          <ion-select-option value="blonde">Vegetables</ion-select-option>          
        </ion-select>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list style="overflow-y: scroll !important; height: 100%;">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/brocolli.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Broccoli<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                  </span></h2>
                <h3 style="color:#69A03A;"> 160Per/Kg</h3>
                <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/onion.jpeg">
              </ion-thumbnail>
              <ion-label>
                <h2>Onion<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                </span></h2>
                <h3 style="color:#69A03A;"> 160Per/Kg</h3>
                <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/anjir.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Anjeer<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                </span></h2>
                <h3 style="color:#69A03A;"> 160Per/Kg</h3>
                <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/tomato.jpg">
              </ion-thumbnail>
              <ion-label>
                <h2>Tomato<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                </span></h2>
              <h3 style="color:#69A03A;"> 160Per/Kg</h3>
              <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/bringle.png">
              </ion-thumbnail>
              <ion-label>
                <h2>Bringle<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                </span></h2>
                <h3 style="color:#69A03A;"> 160Per/Kg</h3>
                <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/potato.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Poato<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                </span></h2>
              <h3 style="color:#69A03A;"> 160Per/Kg</h3>
              <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/apple.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Apple<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                </span></h2>
                <h3 style="color:#69A03A;"> 160Per/Kg</h3>
                <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/orange.jfif">
              </ion-thumbnail>
              <ion-label>
                <h2>Orange<span style="font-size:20px;float: right; color:red !important">
                  <ion-icon name="trash-outline"></ion-icon>
                  </span></h2>
                <h3 style="color:#69A03A;"> 160Per/Kg</h3>
                <p id="rate">Rs 40 Saved</p>
                <div id="qty"><span class="minus"> - </span> 1 <span class="plus"> + </span>
                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="7">
      <ion-text>
        <h4 class="headingClass">Total : <span style="color:red !important;">$ 2308</span></h4>
      </ion-text>
    </ion-col>

    <ion-col size="5">
      <buttoon class="btn">Place Order</buttoon>
    </ion-col>
  </ion-row>
</ion-footer>