
<ion-content>
  <div class="wrapper">
      <div class="logo">
        Get<span>Fix</span>
      </div>
      <div class="tag_line">
          MAKING AN ASSET OWNERSHIP EASY & USE
      </div>

      <div class="triangle">
        <div class="trinagle-bottomright"></div>
        <div class="trinagle-right"></div>
      </div>

      <div class="box">
        <h2>Sign Up</h2><hr>

        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mobile </ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <div class="btn_div">
          <button type="submit" class="btn">SIGNUP</button>
        </div>
        <p>Or Sign Up With</p>

        <div class="social-login">
            <div class="facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </div>

            <div class="google">
              <ion-icon name="logo-google"></ion-icon>
            </div>

            <div class="insta">
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
        </div>
      </div>


      <div class="bottom">
        <p>Already have an account ?</p>

        <div class="btn_bottom">
          <button id="signin" type="submit">SIGN IN</button>
        </div>
      </div>
  </div>
</ion-content>
