<ion-content>
  <div class="main">
    <div class="header">
      <div class="back_div">
        <ion-icon name="arrow-back-outline" (click)="goBack()" color="light" class="back_btn"></ion-icon>
      </div>
      <ion-label>Yamini Sontakke</ion-label>
    </div>
    <div class="profile">
      <img src="../../../assets/14.jpg" />
    </div>
    <div class="editProfile">
      <button class="profileBtn">Edit Profile</button>
    </div>
    <div class="statics">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="staticsNumber">21</div>
            <div class="staticsText">Books</div>
          </ion-col>
          <ion-col>
            <div class="staticsNumber">50K</div>
            <div class="staticsText">Followers</div>
          </ion-col>
          <ion-col>
            <div class="staticsNumber">30</div>
            <div class="staticsText">Following</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="account">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Account</ion-label>
            <div class="accountDiv">
              <ion-item>
                <ion-icon name="cart" slot="start"></ion-icon>
                <ion-label>
                  My Cart
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-icon name="wallet" slot="start"></ion-icon>
                <ion-label>
                  Purchase
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>
                  Account
                </ion-label>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    
    <div class="account">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Setting</ion-label>
            <div class="accountDiv">
              <ion-item>
                <ion-icon color="dark" name="moon" slot="start"></ion-icon>
                <ion-label>
                 Night Mode
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-icon name="notifications" slot="start"></ion-icon>
                <ion-label>
                  Notification
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-icon name="globe" slot="start"></ion-icon>
                <ion-label>
                  Language
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-icon name="information-circle" slot="start"></ion-icon>
                <ion-label>
                  Help
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-icon name="log-in" slot="start"></ion-icon>
                <ion-label>
                  Sign Out
                </ion-label>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>